* {
    box-sizing: border-box;
}

body {
    /* Basic Hacker Color Scheme  */
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
}

/* Styling for my title */
h1 {
    font-size: 100px;
    font-weight: 300;
}

/* Styling for my pokemon buttons (taken inspiration from https://fdossena.com/?p=html5cool/buttons/i.frag) */
.pokemon-button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    border-radius: 0.12em;
    transition: all 0.2s;
    flex: 1 1 auto;
    max-width: 500px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}
.pokemon-button:hover{
    color:#000000;
    background-color:#FFFFFF;
    cursor: pointer;
}


/* Styling for unordered list */
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
}

li {
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
}