body {
    /* Basic Hacker Color Scheme  */
    background-color: black;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

h1 {
    font-size: 70px;
    text-decoration: underline;
}